p {
  padding: 0px;
  margin: 0px;
}

.channel {
  font-size: 13px;
  font-weight: 400;
  color: #606060;
  line-height: 1rem;
}

.side-content p:nth-child(2) {
  margin-top: 5px;
}

img {
  width: 180px;
  height: 100px;
}

.content {
  position: relative;
}

.time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  background-color: black;
  border-radius: 2px;
  color: white;
}
