.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 30px;
}

.example-full-width {
  width: 100%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir="rtl"] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

input[type="text"],
select {
  width: 50%;
  outline: none;
  height: 30px;
  display: inline-block;
  border: 0px solid #cccccc;
  box-sizing: border-box;
  background-color: rgb(235, 226, 226);
  box-shadow: 0px 0px 3px rgb(224, 219, 219);
  font-family: sans-serif;
}
.icon {
  padding: 6px;
  width: 70px;
  height: 30px;
  /* border-radius: 0px 10px 10px 0px; */
  background-color: rgb(218, 206, 206);
  cursor: pointer;
  color: rgb(85, 81, 81);
  min-width: 50px;
  text-align: center;
  box-shadow: 0px 0px 3px rgb(224, 219, 219);
}

.icon:hover {
  color: grey;
}

.icon::selection {
  color: none;
  background: none;
}

p::selection {
  color: none;
  background: none;
}

p {
  cursor: default;
}
span {
  cursor: default;
}

span::selection {
  color: none;
  background: none;
}

.search {
  display: relative;
  width: 5000px;
  z-index: 50;
}

::ng-deep.mat-menu-panel {
  max-width: unset !important;
}
